*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: aquamarine;
}
#canvas {
    border-bottom: 1px solid black;
}
.width {
    display: flex;
}
.pixel {
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    height: 20px;
    width: 20px;
}
.brush {
    background-color: black;
}